<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <header>
   <h1>Welcome to airbnb home</h1>
    <h3>Register your home details here..</h3>
 </header>
 <main>
     <form action="/host/add-home" method="POST">
    <input type="text" name="homeName" placeholder="Home Name" required>
    <input type="text" name="homeLocation" placeholder="Home Location" required>
    <button type="submit">Add Home</button>
    </form>
 </main>
</body>
</html>